* {
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* form {
    width: 100rem;
    height: 56.5rem;
    border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(77, 120, 214);
    border-color: #0099f1;
} */

.info-header {
    display: flex;
    background-color: #ADD8E6;
    height: 7rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 99.5rem;
}

.info-search input {
    margin-left: 185px;
    font-size: 25px;
    margin-top: 15px;
}

.info-search {
    width: 30rem;
}

.info-search i {
    font-size: 25px;
    margin-top: 20px;
    position: absolute;
}

h3 {
    margin-left: 45rem;
    font-size: 30px;
    margin-top: 15px;
}

table {
    margin: -19.5px 0rem 0rem 0rem;
    width: 99.5rem;
    /* height: 56.5rem; */
    border-style: solid;
    /* border-radius: 20px; */
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(77, 120, 214);
    border-color: #0099f1;
}

table,
th {
    border: 2px solid black;
}

th {
    font-size: 30px;
}

td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 40px;
}

.sidebar {
    width: 17%;
    height: 76rem;
    display: flex;
    flex-direction: column;
    /* margin: 6px 0px 0px 0px; */
    background-color: #43A6C6;
}

.mainpage {
    margin: 17rem 0rem 0rem 2rem;
    height: 76rem;
    width: 25%;
}

.sidebar-menu {
    margin: 40px 0px 20rem 80px;
}

.user {
    margin-bottom: 2rem;
    display: flex;
    text-align: center;
    margin-left: 3rem;
}

.user p {
    margin-top: 1.5rem;
}

a {
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

.logo {
    margin-left: 2rem;
}

.exit {
    text-align: center;
}