* {
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    background-image: url(../src/Untitled-1.png);
    height: 7.5em;
}

#nav-bar__logo-brand {
    background-image: url(../src/logo_Fly_Safe.png);
    width: 240px;
    height: 210px;
    margin-top: -75px;
    margin-left: 1em;
}

.nav-bar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-bar__menu ul {
    list-style-type: none;
    text-align: center;
}

.nav-bar__menu li {
    display: inline-block;
}

.nav-bar__menu li a {
    text-decoration: none;
}

.nav-bar__menu .nav-bar__center li {
    margin-top: 2em;
    margin-left: 6.5em;
    line-height: 2.7em;
    width: 12em;
    border: 1px solid #A1A5A6;
    border-radius: 10px;
    background-color: white;
}

.nav-bar__menu .nav-bar__center li a {
    font: 1.9em "roboto", sans-serif;
    font-weight: bold;
    color: #A1A5A6;
}

.nav-bar__menu .nav-bar__center li:hover {
    background-color: #0A4B70;
}

.nav-bar__menu .nav-bar__center li:hover a {
    color: #03DAFC;
}

.nav-bar__menu .nav-bar__login {
    margin-left: 10.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav-bar__menu .nav-bar__login .login__icon-avatar img {
    margin-top: 2.5em;
    height: 2em;
    width: 2em;
}

.nav-bar__menu .nav-bar__login li {
    margin-top: 2.5em;
    margin-left: 2.5em;
}

.nav-bar__menu .nav-bar__login li a {
    color: black;
    font: 1.5em "roboto", sans-serif;
    font-weight: bold;
}

.nav-bar__menu .nav-bar__login li:last-child {
    margin-top: 2.5em;
    margin-left: 2.5em;
}

.nav-bar__menu .nav-bar__login li:last-child a::before {
    margin-right: 35px;
    content: "|";
}

.nav-bar__menu .nav-bar__login a:hover {
    color: #0A4B70;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 1rem;
}

.distant-all {
    margin-top: 1.5rem;
    border-radius: 4.5rem;
    height: 35.5rem;
    border-style: solid;
    border-radius: 4.5rem;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(77, 120, 214);
    border-color: #0099f1;
}

.distant-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    /* width: 450px; */
}

.distant-all a {
    font-size: 30px;
}

.distant-center {
    font-weight: bold;
}

.price ul li {
    margin-bottom: 10px;
    list-style: none;
}

.price button {
    background-color: #fff;
    border: 2px solid #fff;
    color: red;
    box-shadow: 0px 2px 6px black;
    width: 190px;
    height: 45px;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 25px;
}


/* footer */

.footer-bg {
    background-image: url(./footer.png);
    height: 440px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bg h2 {
    margin-top: 15px;
    color: #03DAFC;
    text-transform: capitalize;
}

.footer-bg a {
    color: white;
}

.footer-bg .footerabout-us {
    padding: 50px 0 0 150px;
    width: 25%;
}

.footer-bg .footerabout-us hr {
    margin: 20px 0 20px 0;
    width: 300px;
    color: #969696;
}

.footer-bg .footerabout-us .about-uscontact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bg .footerabout-us .about-uscontact i {
    margin: -7px 5px;
    height: 25px;
    width: 25px;
}

.footer-bg .footerabout-us .about-ustime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
}

.footer-bg .footerabout-us .about-ustime i {
    margin: -7px 5px;
    height: 25px;
    width: 25px;
}

.footer-bg .footerabout-us .about-ussuggestions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bg .footerabout-us .about-ussuggestions a {
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 15px;
}

.footer-bg .footerabout-us .about-ussuggestions a:hover {
    text-decoration: underline;
    color: #03DAFC;
}

.footer-bg .footerjuridical {
    padding: 50px;
    width: 12%;
}

.footer-bg .footerjuridical p {
    margin-top: 5px;
}

.footer-bg .footerjuridical p a {
    text-decoration: none;
    text-transform: capitalize;
}

.footer-bg .footerjuridical p a:hover {
    text-decoration: underline;
    color: #03DAFC;
}

.footer-bg .footersupport {
    padding: 50px;
    width: 25%;
}

.footer-bg .footersupport p {
    margin-top: 5px;
}

.footer-bg .footersupport p a {
    text-decoration: none;
    text-transform: capitalize;
}

.footer-bg .footersupport p a:hover {
    text-decoration: underline;
    color: #03DAFC;
}